<div class="main">


  <mat-sidenav-container [hasBackdrop]="false">
    <mat-sidenav #sideNav mode="push" position="start">
      我是左邊選單
    </mat-sidenav>
    <mat-sidenav-content>
            <mat-toolbar color="primary" class="demo-app-header">
        <button mat-icon-button (click)="sideNav.toggle()">
          <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
        </button>
        <span>I'm The Game</span>
      </mat-toolbar>
      <div>123</div>
   </mat-sidenav-content>

  </mat-sidenav-container>
</div>

