<h2 class="text-center">Registration</h2>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 col-md-offset-3">
<div class="jumbotron">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
<div class="form-group">
<label for="name">Name</label>
<input type="text" name="name" formControlName="name" autocomplete="off" class="form-control input-sm" placeholder="Name">
<div *ngIf="angForm.get('name').hasError('required')">incorrect name</div>
</div>
<div class="form-group">
<label for="email">Email</label>
<input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Email">
<div *ngIf="angForm.get('email').hasError('required')">incorrect email</div>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" name="password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Password">
<div *ngIf="angForm.get('password').hasError('required')">incorrect password</div>
</div>
<button type="submit" class="btn btn-success" >Register</button>
</form>
</div>
</div>
<div class="col-md-3">
</div>
</div>
