<h2 class="text-center">Registration</h2>
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 col-md-offset-3">
    <div class="jumbotron">
      <form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off">
        <div class="form-group">
          <mat-form-field class="sign-up__input w-100">
            <input type="text" name="name" formControlName="name" placeholder="{{'UserName' | translate}}" matInput
              [class.is-invalid]="name.invalid">

            <mat-error *ngIf="name.hasError('cannotContainSpace') ">
              {{'UserNamePatternOther' | translate}}
            </mat-error>
            <mat-error *ngIf="name.hasError('minlength')">
              {{'UserNamePatternMin' | translate}}
            </mat-error>

          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="sign-up__input w-100">
            <input type="text" name="email" formControlName="email" placeholder="{{'Email' | translate}}" matInput
              [class.is-invalid]="email.invalid">
            <mat-error *ngIf="email.invalid">
              {{'EmailPattern' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="sign-up__input w-100">
            <input type="text" name="password" formControlName="password" placeholder="{{'Password' | translate}}"
              matInput [class.is-invalid]="password.invalid">
            <mat-error *ngIf="password.invalid">
              Must contain a combination of both alphabetic letters (uppercase & lowercase) and numbers, 8 characters at
              least
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field class="sign-up__input w-100">
            <input type="text" name="password" formControlName="password"
              placeholder="{{'Confirm' | translate}} {{'Password' | translate}}" matInput
              [class.is-invalid]="password.invalid">
            <mat-error *ngIf="password.invalid">
              {{'M1006' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <mat-form-field class="sign-up__input w-100">
          <mat-label>{{'Country' | translate}}</mat-label>
          <select matNativeControl id="mySelectId">
            <option *ngFor="let country of countries" [ngValue]="country">{{country?.name}}</option>
          </select>
        </mat-form-field>

        <div class="sign-up__check">
          <mat-checkbox>
            <span>{{'Agreement.Main' | translate}} </span>
            <a>{{'Agreement.Term' | translate}} </a>
            {{'Agreement.And' | translate}}
            <a>{{'Agreement.PrivacyPolicy' | translate}}</a>
          </mat-checkbox>
        </div>

        <div class="sign-up__check">
          <mat-checkbox>
            Subscribe for special offers and promotions
          </mat-checkbox>
        </div>

        <button class="d-flex justify-content-center btn btn-secondary btn-lg sign-up__register" type="submit"
          [disabled]="!angForm.valid">Register
        </button>
        <span class="d-flex justify-content-center">
          {{'HaveAccount' | translate}}<a>Sign in</a>
        </span>
      </form>
    </div>
  </div>
  <div class="col-md-3">
  </div>
</div>
